.main-container {
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
    
    
  }
  
  .background-container {
    position: relative;
    width: 100%;

    /* Ajusta la altura restando el padding superior */
    overflow: hidden;
  }
  
  .background-image {
    width: 100vw;
    min-height: 100%; /* Asegura que cubra al menos la altura del contenedor */
    object-fit: cover;
  }
  
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
  }
  
  .overlay-text {
    font-size: 48px;
    font-weight: bold;
    
  }
  