/* StylesComponents/Landing.css */

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.background-container {
  position: relative;
}
section h2{
  margin-left: 35px;
  font-size: 28px;
  color: #55372d;
  padding-top: 35px;
  padding-bottom: 25px;

}

.background-image {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.01);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-text {
  color: white;
  font-size: 3rem;
  text-align: center;
  padding: 20px;
  font-weight: bold; /* Añadido para poner el texto en negrita */
}

.scroll-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.scroll-button {
  background-color: #FFF8F2;
  border: none;
  color: #755847;
  padding: 10px 20px;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}



.empresas-asociadas {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  margin: 0 10px;
  padding: 10px;
  width: 80%;
}

.empresa-imagen {
  width: 150px;
  height: 150px;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.empresa-imagen:hover {
  transform: scale(1.1);
}
