/* Estilos para el componente Login */

.Login-Sect {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
  box-sizing: border-box;
}

.image-container {
  flex: 1 1 50%;
  max-width: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-container {
  flex: 1 1 50%;
  max-width: 50%;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}

.logo img {
  width: 360px;
  height: auto;
  margin-bottom: 10px;
}

.logo p {
  font-size: 1.5em;
  margin: 0;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  align-items: center;
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
}

.form-group label {
  font-size: 1.2em;
}

.form-group input {
  padding: 10px;
  font-size: 1.2em;
}

.login-button {
  width: 100%;
  padding: 20px;
  background-color: #755847;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
}

.login-button:hover {
  background-color: #5f4536;
}

.forgot-password {
  margin-top: 20px;
  text-align: center;
  font-size: 1.2em;
}

.forgot-password a {
  text-decoration: none;
  color: #337ab7;
  font-size: 1.2em;
}

.forgot-password a:hover {
  color: #23527c;
}

.error-message {
  color: red;
  font-size: 1em;
}

.register-text {
  font-size: 1.3em; /* Aumenta el tamaño del texto '¿Eres Nuevo?' */
  margin-right: 5px; /* Ajusta el espacio entre el texto y el enlace de registro */
}

.register-link {
  font-size: 1.3em; /* Aumenta el tamaño del enlace de registro */
}
