/* RegistroEmpresa.css */

.registro-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.image-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  z-index: -1;
}

.registro-form {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  padding: 30px; /* Reducido el padding para disminuir la altura interna */
  max-width: 800px; /* Aumentado para hacer el formulario más ancho */
  width: 25%;
  margin: 30px auto; /* Reducido el margen para ajustar el formulario más hacia el centro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.form-title {
  margin-bottom: 20px;
  font-size: 27px;
  color: #333;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
  font-size: 27px; /* Tamaño de letra de las etiquetas */
}

.form-group input,
.form-group select {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 25px; /* Tamaño de letra de los inputs y selects */
}

.form-group input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.submit-button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 4px;
  background-color: #755847;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #5f4536;
}
