/* Styles/CuadroLargo.css */

.cuadro-largo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 25px;
    
  }
  
  .info-pasantia,
  .info-estudiante {
    flex: 1;
    margin-right: 10px;
  }
  
  .info-pasantia h3,
  .info-estudiante h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .info-pasantia p,
  .info-estudiante p {
    margin-bottom: 5px;
  }
  
  .imagen-pasantia,
  .imagen-estudiante {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .botones {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .btn-perfil-completo,
  .btn-editar,
  .btn-eliminar {
    width: 150px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .btn-perfil-completo:hover,
  .btn-editar:hover,
  .btn-eliminar:hover {
    background-color: #0056b3;
  }
  