/* StylesComponents/Footer.css */

/* Estilo global para asegurar que el cuerpo ocupe al menos el 100% de la altura */
html, body {
  height: 100%;
  margin: 0;
}

/* Contenedor principal para que el footer se mantenga en la parte inferior */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Otros estilos existentes */
.rectangle {
  background-color: #4D2D18;
  color: white;
  padding: 10px 0; /* Reduce el padding para hacer el footer más pequeño */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px; /* Reduce la altura mínima para hacer el footer más pequeño */
  margin-top: auto; /* Hace que el footer se empuje al fondo */
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Espacio entre la imagen y el texto */
  max-width: 800px; /* Ajusta el ancho máximo según necesites */
  width: 100%;
}

.footer-text {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 20px; /* Reduce el espacio entre los textos */
  font-size: 0.9em; /* Ajusta el tamaño de fuente para que sea más pequeño */
}

.preguntas-frecuentes,
.text-9,
.text-a {
  color: white;
  text-decoration: none;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}
